<a href="https://colab.research.google.com/github/YaninaTesta/Proyectos/blob/main/Notebook_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programa Ingenias+ Data Science

## Analisis Exploratorio de un Dataset

Esta notebook les permitiria ejercitar los conceptos de Pandas üêº  y An√°lisis exploratorio de datos üìä que aprendimos hasta ahora. Vamos a trabajar con un dataset que contiene datos relativos a [clientes de un centro comercial](https://www.kaggle.com/akram24/mall-customers). En el Drive esta descargado el archivo. Si tenes inconvenientes o  ese archivo no funciona podes descargarlo directamente de la p√°gina web.

### üî¨ Comenzando el proyecto üéâ

Es tu primer dia como Data Scientist. Tu primer proyecto consiste en hacer un an√°lisis de datos sobre clientes de un centro comercial para luego hacer una predicci√≥n de ventas o un analisis de cluster. Antes que nada, debes inspeccionar y visualizar tu dataset para saber con que datos estas trabajando.

Como mencionamos durante la clase, una de las primeras cosas que debe realizar un Data Scientist al iniciar un nuevo proyecto es conocer el dataset con el cual va a trabajar. Este paso se conoce como _"Analisis exploratorio de los datos"_.

Adem√°s de obtener que tipo de datos contiene el dataset, estadistica descriptiva, detectar problemas como valores faltantes, establecer que tipo de relaci√≥n existe entre las distintas variables, tambi√©n debemos visualizar los datos. Este an√°lisis nos permitira hacernos preguntas que puedan ser contestadas con el dataset como as√≠ plantear estrategias para poder resolver problemas presentes en √©l.

#### IMPORTA LAS LIBRERIAS NECESARIAS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
import sklearn

#### LEE LOS DATOS

**_Lee los datos que se encuentran en el archivo `clientes_mall.csv`. Guardalos en un DataFrame._**

In [60]:
clientes = pd.read_csv('/content/clientes_mall.csv')

In [50]:
clientes = pd.DataFrame

#### INSPECCIONA LOS DATOS

Primero obtene una visi√≥n general del dataset:


ü§î &nbsp; **_¬øComo se ven las primeras 5 filas? ¬øCuantas filas y columnas posee? ¬øQue tipos de datos contiene cada una de las columnas?_**

In [4]:
clientes.head(5)

,Unnamed: 0,CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)
0,0,1.0,Male,19.0,15.0,39.0
1,1,2.0,NaN,21.0,15.0,81.0
2,2,3.0,Female,20.0,16.0,6.0
3,3,4.0,Female,23.0,16.0,77.0
4,4,5.0,NaN,31.0,17.0,40.0

In [5]:
clientes.shape

(200, 6)

In [6]:
print (f"posee 200 filas y 6 columnas")

posee 200 filas y 6 columnas

In [7]:
clientes.dtypes

Unnamed: 0                  int64
CustomerID                float64
Genre                      object
Age                       float64
Annual Income (k$)        float64
Spending Score (1-100)    float64
dtype: object

**_Hay algunas columnas que tienen nombres incomodos (ej. `Spending Score (1-100)` y `Annual Income (k$)`). Renombra esas columnas_**

In [80]:
clientes.rename(columns={'Spending Score (1-100)':'Puntaje de Gastos', 'Annual Income (k$)':'Salario Anual'}, inplace=True)

In [81]:
clientes.columns

Index(['Unnamed: 0', 'CustomerID', 'Genre', 'Age', 'Salario Anual',
       'Puntaje de Gastos'],
      dtype='object')

#### Valores faltantes

ü§î &nbsp; **_¬øHay valores faltantes en alguna de las columnas?_**

In [12]:
clientes.isna().sum()

Unnamed: 0            0
CustomerID           11
Genre                14
Age                  11
Salario Anual        15
Puntaje de Gastos    14
dtype: int64

**_Elimina todas las filas que tengan valores faltantes_**

In [21]:
limpieza = clientes.dropna()
print(limpieza)

     Unnamed: 0  CustomerID   Genre   Age  Salario Anual  Puntaje de Gastos
0             0         1.0    Male  19.0           15.0               39.0
2             2         3.0  Female  20.0           16.0                6.0
3             3         4.0  Female  23.0           16.0               77.0
5             5         6.0  Female  22.0           17.0               76.0
7             7         8.0  Female  23.0           18.0               94.0
..          ...         ...     ...   ...            ...                ...
194         194       195.0  Female  47.0          120.0               16.0
196         196       197.0  Female  45.0          126.0               28.0
197         197       198.0    Male  32.0          126.0               74.0
198         198       199.0    Male  32.0          137.0               18.0
199         199       200.0    Male  30.0          137.0               83.0

[139 rows x 6 columns]

#### FILTRA LOS DATOS

Porque tu compa√±ia quiere dise√±ar un a campa√±a de marketing especial para personas entre 25 y 40 a√±os, vamos a analizar los datos solo para estos clientes.

ü§î &nbsp; **_Chequea que categorias aparecen en la columna `Age`_**.

In [23]:
clientes['Age'].unique()

array([19., 21., 20., 23., 31., 22., 35., 64., 30., 67., 58., 24., 37.,
       52., nan, 25., 46., 54., 29., 45., 40., 60., 53., 18., 49., 42.,
       36., 65., 48., 50., 27., 33., 59., 47., 51., 70., 63., 43., 68.,
       32., 26., 57., 38., 55., 34., 66., 39., 44., 28., 56., 41.])

**_Filtra los datos para quedarte unicamente con las filas que correspondan a personas entre 25 y 40 a√±os. Guardalo en una variable que se llame `clientes_seleccionados`._**

In [29]:
clientes_seleccionados = clientes[(clientes['Age']>= 24) & (clientes ['Age']<= 41)]

In [30]:
clientes_seleccionados ['Age']

4      31.0
6      35.0
9      30.0
11     35.0
13     24.0
       ...
193    38.0
195    35.0
197    32.0
198    32.0
199    30.0
Name: Age, Length: 87, dtype: float64

**_Reiniciamos el indice usando `reset_index()` para que las filas vuelvan a ser numeradas a partir de 0. `drop=True` permite descartar los indices anteriores y no guardarlos como una nueva columna. `inplace=True` permite que se modifique el DataFrame original._**

In [26]:
clientes_seleccionados.reset_index(drop=True)

    Unnamed: 0  CustomerID   Genre   Age  Salario Anual  Puntaje de Gastos
0            8         NaN    Male  64.0           19.0                NaN
1           10        11.0    Male  67.0           19.0               14.0
2           12        13.0  Female  58.0           20.0               15.0
3           18        19.0     NaN  52.0           23.0               29.0
4           22         NaN  Female  46.0           25.0                5.0
..         ...         ...     ...   ...            ...                ...
68         178       179.0    Male  59.0           93.0               14.0
69         182       183.0    Male  46.0           98.0               15.0
70         186       187.0  Female  54.0          101.0               24.0
71         194       195.0  Female  47.0          120.0               16.0
72         196       197.0  Female  45.0          126.0               28.0

[73 rows x 6 columns]

**_Obtene estadistica descriptiva para las columnas que corresponden al salario anual y puntaje de gastos de las personas entre 25 y 40 a√±os. Lo importante es que se muestre promedio, mediana, desvio estandard, valores minimos y maximos._**

In [68]:
columnas = ['Salario Anual', 'Puntaje de Gastos']
selec = clientes_seleccionados[columnas]

In [84]:

estadistica = pd.DataFrame({
    'Promedio': selec.mean(),
    'Mediana': selec.median(),
    'Desvio_Estandar': selec.std(),
    'Minimo': selec.min(),
    'Maximo': selec.max()
})
print(estadistica)

                    Promedio  Mediana  Desvio_Estandar  Minimo  Maximo
Salario Anual      60.362162     61.0        26.267927    15.0   137.0
Puntaje de Gastos  49.924731     49.0        25.844540     1.0    99.0

ü§î &nbsp; De acuerdo a los valores **_¬øCu√°l es el sueldo promedio de estos clientes? ¬øCual es el puntaje de gastos mediano en el grupo? ¬øCrees que son buenas medidas para caracterizar el grupo?_**

In [57]:
clientes_seleccionados['Salario Anual'].mean()

np.float64(68.58024691358025)

In [58]:
clientes_seleccionados['Puntaje de Gastos'].median()

68.0

**_Compara estos valores con aquellos de los clientes en general._**

In [85]:
columnas1 = ['Salario Anual', 'Puntaje de Gastos']
todos = clientes[columnas]

In [86]:

estadistica1 = pd.DataFrame({
    'Promedio': todos.mean(),
    'Mediana': todos.median(),
    'Desvio_Estandar': todos.std(),
    'Minimo': todos.min(),
    'Maximo': todos.max()
})
print(estadistica1)

                    Promedio  Mediana  Desvio_Estandar  Minimo  Maximo
Salario Anual      60.362162     61.0        26.267927    15.0   137.0
Puntaje de Gastos  49.924731     49.0        25.844540     1.0    99.0

In [91]:
comparacion = pd.concat([estadistica, estadistica1], axis=1)
print(comparacion)

                    Promedio  Mediana  Desvio_Estandar  Minimo  Maximo  \
Salario Anual      60.362162     61.0        26.267927    15.0   137.0
Puntaje de Gastos  49.924731     49.0        25.844540     1.0    99.0

                    Promedio  Mediana  Desvio_Estandar  Minimo  Maximo
Salario Anual      60.362162     61.0        26.267927    15.0   137.0
Puntaje de Gastos  49.924731     49.0        25.844540     1.0    99.0

**_Obtiene la edad promedio de clientes que tienen un sueldo mayor al promedio._**

**_Compara estos valores con aquellos de los clientes en general._**

ü§î &nbsp; **_¬øQu√© otras preguntas te surgen para analizar en este dataset?_**

#### VISUALIZA LOS DATOS

**_Visualiza la distribuci√≥n de las variables de sueldo promedio y puntaje de gastos. Haz gr√°ficos que superpongan la distribuci√≥n de cada una de estas variables de manera global como tambi√©n s√≥lo para los clientes seleccionados._**

**_Agrupa los datos por la variable `Genre` para ambos casos. Gr√°fica el ingreso promedio y su dispersion. Grafica, luego, el ingreso mediano y su rango intercuartil._**

ü§î &nbsp; **_¬øExiste una correlaci√≥n entre el sueldo anual y el puntaje de gastos en los clientes seleccionados? ¬øY en todos los clientes en general?_**

**_Visualiza otros datos que creas relevantes para este analisis._**

#### üíæ &nbsp; GUARDANDO EL ARCHIVO PARA LOS SIGUIENTES PASOS

Los siguientes pasos que vamos a tomar implican la transformaci√≥n de los datos presentes en el dataset para un correcto ajuste de un modelo a elecci√≥n. Para no tener que correr nuevamente todo el c√≥digo, podemos guardar en un archivo `csv` el dataset tal cual lo tenemos ahora.

1) **Utiliza la funci√≥n `.to_csv()` para guardar tu dataset**. Antes de hacerlo chequea la [documentaci√≥n](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html).